<%- include('./partials/head.ejs') %>
    <%- include('./partials/nav.ejs') %>
        <div class="container">
            <h1 class="text-center mb-3 mt-5">Data Semua User</h1>
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover text-center">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col">No.Absen</th>
                                <th scope="col">Nama</th>
                                <th scope="col">Kelas</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% absens.forEach(absen=> { %>
                                <tr>
                                    <th scope="row">
                                        <%= absen.noabsen %>
                                    </th>
                                    <td>
                                        <%= absen.nama %>
                                    </td>
                                    <td>
                                        <%= absen.kelas %>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-around">
                                            <button class="btn btn-primary btn-sm text-white" data-toggle="modal" data-target="#updateModal<%=absen.id%>">Edit</button>

                                            <!-- Modal -->
                                            <div class="modal fade text-left" id="updateModal<%=absen.id%>" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Ubah Data Siswa
                                                                <%=absen.nama%>
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="/absen?_method=PUT" method="post">
                                                                <input type="hidden" name="id" value="<%=absen.id%>">


                                                                <div class="form-group">
                                                                    <label for="nama">Nama</label>
                                                                    <input type="text" name="nama" id="nama" class="form-control" value="<%=absen.nama%>">

                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="noabsen">Nomor Absen</label>
                                                                    <input type="text" name="noabsen" id="noabsen" class="form-control" value="<%=absen.noabsen%>">
                                                                </div>


                                                                <div class="form-group">
                                                                    <label for="kelas">Kelas</label>
                                                                    <input type="text" name="kelas" id="kelas" class="form-control" value="<%=absen.kelas%>">
                                                                </div>

                                                                <button class="mt-3 btn btn-primary mx-0 w-100">Update Data</button>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <form action="/absen?_method=DELETE" method="POST">
                                                <input type="hidden" name="id" value="<%= absen.id %>">
                                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>


                                <% })%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>